.form-wrapper {
    margin: 20px;
}

.form-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 20px; 
}

.form-card {
    width: 500px; 
    min-height: 500px;
    margin-right: 120px; 
}

.add-fields {
    width: 25%; 
}

.form-field {
    margin-bottom: 10px; 
}

.add-fields-sidebar {
    /* position: fixed; 
    top: 80px;  */
    right: 20px; 
    width: 317px; 
    height:1554px; 
    margin-left:120px;
    overflow-y: auto; 
}

