.numeric-rating-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 16px;
}

.numeric-rating-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.rating-heading {
    flex-grow: 1;
    margin-right: 16px;
}

.rating-buttons-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: nowrap; 
    gap: 4px; 
    margin-bottom: 16px;
}

.rating-button {
    flex: 1;
    padding: 4px 8px; 
    min-width: 30px; 
    max-width: 30px; 
    font-size: 12px; 
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 16px; 
}

.editdelete-icon{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
